.portfolio-card {
  background-color: var(--col-oxblood-400);
  transition:
    background-color var(--transition),
    color var(--transition);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--col-black);
  .card-image {
    aspect-ratio: 16 / 9;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__image {
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform var(--transition);
  }
  .project-card__pill {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: var(--col-accent-400);
    color: var(--col-white);
    padding: 0.25rem 0.75rem;
    font-size: var(--fs-200);
    font-weight: var(--fw-600);
    border-radius: 100vw;
    text-transform: uppercase;
  }
  .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h2 {
      font-size: var(--fs-500);
      font-weight: var(--fw-600);
      line-height: var(--lh-700);
      color: var(--col-white);
      transition: color var(--transition);
    }
    div {
      font-size: var(--fs-350);
      line-height: var(--lh-normal);
      color: var(--col-white);
      transition: color var(--transition);
    }
  }
  &:hover {
    background-color: var(--col-oxblood-400-40);
    .card-body h2,
    .card-body div {
      color: var(--col-black);
    }
    .portfolio-card__image {
      transform: scale(1.05);
    }
  }
}
